@{
    ViewData["Title"] = "Mass Payment Page";
}

<div class="text-center">
    <h1 class="display-4">Payment</h1>

    @if (ViewData["PaymentDetails"] != null)
    {
        <h2>@ViewData["PaymentDetails"]</h2>
    }

    <form method="post">
        <fieldset>
            <legend>Make payment Customer</legend>
            <div>
                <label for="AccessToken">Access Token:</label>
                <input type="text" id="AccessToken" name="AccessToken" value="@ViewData["accessToken"]"/>
            </div>
            <div>
                <label for="DebtorAccount">Debtor Account:</label>
                <input type="text" id="DebtorAccount" name="DebtorAccount" value="CY44005000121234567384564932"/>
            </div>
            <div>
                <label for="DebtorBic">Debtor BIC:</label>
                <input type="text" id="DebtorBic" name="DebtorBic" value="HEBACY2NXXX"/>
            </div>

            <div>
                <label for="BeneficiaryAccount1">Beneficiary Account 1:</label>
                <input type="text" id="BeneficiaryAccount1" name="BeneficiaryAccount1" value="CY40005000121234567384543567"/>
            </div>
            <div>
                <label for="BeneficiaryName1">Beneficiary Name 1:</label>
                <input type="text" id="BeneficiaryName1" name="BeneficiaryName1" value="Joe Doe"/>
            </div>

            <div>
                <label for="BeneficiaryAccount1">Beneficiary Account 2:</label>
                <input type="text" id="BeneficiaryAccount2" name="BeneficiaryAccount2" value="CY66005000121234567384598583"/>
            </div>
            <div>
                <label for="BeneficiaryName1">Beneficiary Name 2:</label>
                <input type="text" id="BeneficiaryName2" name="BeneficiaryName2" value="Joe Doe"/>
            </div>

            <div>
                <input type="submit" id="submit" name="submit" value="Submit"/>
            </div>

        </fieldset>
    </form>
</div>